<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>What Do You Meme?</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="assets/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="gallery-title">What Do You Meme?</h1>
      </div>
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="text-center">
          time left: <span id="time">10</span> seconds
          <br><br>
          <img src="http://energyandgold.com/wp-content/uploads/2018/01/Crypto-Market-Crash-365x365.jpg" id="memeImg" width="365"></img>
          <br><button id="myButton" type="button">React</button>
            <script type="text/javascript">
                var images = ['http://i1.kym-cdn.com/photos/images/newsfeed/000/250/007/672.jpg',
                'http://i0.kym-cdn.com/photos/images/facebook/001/217/729/f9a.jpg',
                'https://www.askideas.com/media/41/All-These-Flavors-And-You-Choose-To-Be-Salty-Funny-Girl-Meme-Picture.jpg'],
                    i = 1;

                // preload
                for (var j=images.length; j--;) {
                    var img = new Image();
                    img.src = images[j];
                }

                // event handler
                document.getElementById('myButton').addEventListener('click', function() {
                    document.getElementById('memeImg').src = images[i >= images.length - 1 ? i = 0 : ++i];
                }, false);
            </script>
        </p>
      </div>
      <div align="center" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button class="btn btn-default filter-button" data-filter="all">All</button>
        <button class="btn btn-default filter-button" data-filter="hdpe">Wholesome</button>
        <button class="btn btn-default filter-button" data-filter="sprinkle">Dark Humour</button>
        <button class="btn btn-default filter-button" data-filter="spray">Spray Nozzle</button>
        <button class="btn btn-default filter-button" data-filter="irrigation">Irrigation Pipes</button>
      </div>
      <br/>
  </div>
</body>
<!-- Javascript script -->
<script src="assets/main.js"></script>
<script src="assets/game.js"></script>

<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>

<!-- Bootstrap Javascript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
  var socket = io('http://localhost:3000')
</script>
</html>
