<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>What Do You Meme?</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="assets/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="gallery-title">What Do You Meme?</h1>
      </div>
      <div class="gallery col-12" id="outerDiv">
        <p class="text-center">
          time left: <span id="time">10</span> seconds
          <br><br>
          <img src="http://energyandgold.com/wp-content/uploads/2018/01/Crypto-Market-Crash-365x365.jpg" id="memeImg" width="365"></img>
          <br>
            <button class="myButton btn btn-default filter-button" id="myButton1" type="button">Meh</button>
            <button class="myButton btn btn-default filter-button" id="myButton2" type="button">Relatable</button>
            <button class="myButton btn btn-default filter-button" id="myButton3" type="button">Holy shit</button>
        </p>
      </div>
      <br/>
  </div>
</div>
<!-- The Modal -->
<div class="modal" id="gameStartModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title" style="color:aquamarine;margin:0 auto;">That's What You Meme!</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p class="text-center" style="color:red">Have fun!</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
</body>
<!-- Javascript script -->
<script src="assets/main.js"></script>
<script src="assets/game.js"></script>

<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>

<!-- Bootstrap Javascript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
